body {
    font-size: .8em;
    background: #ab8660;
    color: #fff;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
}

h1, h2 {
    font-weight: lighter;
}

h1 {
    font-size: 1.2em;
}

.logo {
    width: 75px;
    float: right;
    filter: grayscale(100%);
}

hr {
    clear: both;
}