Options -MultiViews
RewriteEngine On

RewriteBase /public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^api[/]*(.*)$ index.php?url=$1 [QSA,L]
# RewriteRule . ../client/index.html [L]